$--button-height: 32px;
$--font-size: 14px;
$--button-bg: #fff;
$--primary-color: #2d8cf0;
$--button-active-bg: #eee;
$--border-radius: 4px;
$--color: #333;
$--border-color: #999;
$--border-color-hover: #666;
$active-color: rgb(24, 144, 255);
$active-bg: #e6f7ff;
// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// ul,
// ol {
//   list-style: none;
// }
