$--button-height: 32px;
$--font-size: 14px;
$--button-bg: #fff;
$--primary-color: #2d8cf0;
$--button-active-bg: #eee;
$--border-radius: 4px;
$--color: #333;
$--border-color: #999;
$--border-color-hover: #666;
$active-color: rgb(24, 144, 255);
$active-color-light: rgba(24,144,255,0.1);
$active-bg: #e6f7ff;

$--success-color: #19be6b;
$--warn-color: #f90;
$--error-color: #ed4014;
$--info-color: #2db7f5;

$height: 32px;
$border-color: #999;
$border-color-hover: #666;
$border-color-1: #ccc;
$border-radius: 4px;
$font-size: 12px;
$box-shadow-color: rgba(10, 7, 7, 0.5);
$error-color: #f1453d;

$bg-white: #fff;
$bg-black: #000;

$disabled-color: gray;

$toast-bg: rgba(0, 0, 0, 0.75);
$font-size: 14px;
$toast-height: 40px;
$animation-duration: 300ms;

%box-shadow {
    box-shadow: 0 0 6px 0 #ccc;
}
%text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

